@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  /* PRIMARY */
  --Soft-blue: #5368df;
  --soft-red: #fa5757;
  /* NEUTRAL */
  --Grayish-blue: #9194a1;
  --Very-dark-blue: #252b46;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.wrapper .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 2rem 5rem;
  height: auto;
  top: 0;
  align-items: center;
}
.wrapper .header .header-left-sect img {
  cursor: pointer;
}
.wrapper .header .header-right-sect ul {
  padding: 1.5rem;
}
.wrapper .header .header-right-sect ul a {
  text-decoration: none;
  color: black;
  padding: 0rem 1.5rem;
}
.wrapper .header .header-right-sect ul a:hover {
  color: var(--soft-red);
}
.wrapper .header .header-right-sect ul li {
  display: inline;
  letter-spacing: 1px;
  font-size: 12px;
}
.wrapper .header .header-right-sect .login {
  background-color: var(--soft-red);
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 5px;
}
.wrapper .header .header-right-sect .login:hover {
  background-color: var(--soft-red);
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 5px;
}
.wrapper .hero {
  margin-top: 12rem;
  display: flex;
  margin-bottom: 4rem;
}
.wrapper .hero .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  flex-grow: 1;
  padding: 0 0 7rem 5rem;
}
.wrapper .hero .hero-left .hero-heading {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  color: var(--Very-dark-blue);
}
.wrapper .hero .hero-left .hero-text {
  line-height: 25px;
  margin-bottom: 1.5rem;
  color: var(--Grayish-blue);
}
.wrapper .hero .hero-left .button {
  background-color: var(--Soft-blue);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 2px;
  padding: 0.8rem 1.2rem;
  color: white;
  border-radius: 5px;
  margin-right: 8px;
  border: none;
}
.wrapper .hero .hero-left .firefox-button {
  background-color: #f7f7f7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 2px;
  padding: 0.8rem 1.2rem;
  color: var(--Very-dark-blue);
  border-radius: 5px;
  margin-right: 8px;
  border: none;
  font-weight: bold;
}
.wrapper .hero .hero-left .button:hover {
  background-color: var(--Soft-blue);
  color: white;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}
.wrapper .hero .hero-right {
  max-width: 50%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 107px;
}
.wrapper .hero .hero-right .image-background {
  background-color: var(--Soft-blue);
  position: relative;
  height: 400px;
  width: 80%;
  border-bottom-left-radius: 180px;
  margin-left: 120px;
}
.wrapper .hero .hero-right .image-background .hero-right-image {
  position: absolute;
  right: 60px;
  bottom: 25px;
}
.wrapper .hero-bottom {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 6rem;
}
.wrapper .hero-bottom .hero-left-bottom {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding-left: 5rem;
}
.wrapper .hero-bottom .hero-right-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}
.wrapper .hero-bottom .hero-heading-bottom {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  color: var(--Very-dark-blue);
}
.wrapper .hero-bottom .hero-text-bottom {
  margin-bottom: 1.5rem;
  line-height: 25px;
  font-size: 18px;
  color: var(--Grayish-blue);
}
.wrapper .hero-bottom .download-button-bottom {
  background-color: var(--Soft-blue);
  padding: 0.8rem 1.2rem;
  color: white;
  border-radius: 5px;
  margin-right: 8px;
  border: none;
}

.hero-sub-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}
.hero-sub-sect .sub-heading-hero {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: var(--Very-dark-blue);
  letter-spacing: 1px;
}
.hero-sub-sect .sub-para-hero {
  text-align: center;
  line-height: 25px;
  color: var(--Grayish-blue);
  font-size: 18px;
}

.hero-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 18px;
  border-bottom: 1px thin var(--Grayish-blue);
  padding: 2rem;
}
.hero-divider a {
  text-decoration: none;
  color: var(--Grayish-blue);
  font-size: 18px;
  padding: 2rem;
  border-bottom: 1px solid var(--Grayish-blue);
}
.hero-divider .border-bottom {
  border-bottom: 4px solid var(--soft-red);
  color: var(--Very-dark-blue);
}
.hero-divider .divider {
  border-bottom: 1px var(--Very-dark-blue) solid;
  width: 60%;
  height: auto;
}

.download-sect {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}
.download-sect h2 {
  margin-bottom: 1.5rem;
  color: var(--Very-dark-blue);
}
.download-sect p {
  color: var(--Grayish-blue);
  line-height: 25px;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
}
.cards-section .cards {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 4rem;
}
.cards-section .card-second {
  margin-top: 2rem;
}
.cards-section .card-third {
  margin-top: 4rem;
}
.cards-section .cards-content {
  padding: 1rem;
  border-bottom: 1px dotted var(--Grayish-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-section .card-logo {
  padding-bottom: 1rem;
}
.cards-section .card-heading {
  padding-bottom: 1rem;
  color: var(--Very-dark-blue);
}
.cards-section .card-para {
  margin-bottom: 1rem;
  color: #9194a1;
  font-size: 12px;
}
.cards-section .border-between {
  border-top: 1px solid var(--Grayish-blue);
  width: 100%;
  border-style: dotted;
}
.cards-section .card-button-wrap {
  padding: 1rem;
}
.cards-section .card-button {
  background-color: var(--Soft-blue);
  padding: 0.8rem 1.2rem;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.faq {
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
}
.faq .faq-heading {
  margin-bottom: 2rem;
}
.faq .faq-para {
  line-height: 25px;
  color: var(--Grayish-blue);
  margin-bottom: 4rem;
}
.faq .faq-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .faq-questions .questions {
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}
.faq .faq-questions .que-last {
  border-bottom: 1px solid var(--Grayish-blue);
}
.faq .faq-button {
  background-color: var(--Soft-blue);
  padding: 0.8rem 1.2rem;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 3rem;
}

.newsletter {
  padding: 5rem 0;
  background-color: var(--Soft-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}
.newsletter .newsletter-top {
  font-size: 12px;
  letter-spacing: 5px;
}
.newsletter .news-heading {
  font-size: 1.2rem;
  margin: 2rem 0;
  letter-spacing: 2px;
}
.newsletter input {
  padding: 14px 110px 14px 12px;
  border-radius: 5px;
  border: none;
}
.newsletter input::-moz-placeholder {
  opacity: 0.5;
}
.newsletter input:-ms-input-placeholder {
  opacity: 0.5;
}
.newsletter input::placeholder {
  opacity: 0.5;
}
.newsletter .contact-us-button {
  background-color: var(--soft-red);
  color: white;
  padding: 14px 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 5px;
}

.faq-questions {
  display: flex;
}
.faq-questions .questions {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 1rem 0;
  align-items: center;
  border-top: 1px solid var(--Grayish-blue);
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--Very-dark-blue);
  padding: 1.7rem 5rem;
  align-items: center;
}
.footer ul li {
  list-style: none;
  display: inline;
  color: var(--Grayish-blue);
  padding: 1rem;
}
.footer .nav-footer {
  flex-grow: 2;
}
.footer .logo-footer {
  margin-right: 3rem;
}
.footer .social-footer {
  display: flex;
  align-items: center;
}
.footer .social-footer .logo-fb {
  padding-right: 1rem;
  color: white;
  font-size: 1.5rem;
}
.footer .social-footer .logo-twitter {
  padding-left: 1rem;
  color: white;
  font-size: 1.5rem;
}